<!-- Access database with: `string connectionString = ConfigurationManager.ConnectionStrings["DefaultConnection"].ConnectionString;` -->

<add key="DB_NAME" value="%WEALTHWISE_DB_NAME%" />
<add key="DB_USERNAME" value="%WEALTHWISE_DB_USERNAME%" />
<add key="DB_PASSWORD" value="%WEALTHWISE_DB_PASSWORD%" />

<configuration>
  <connectionStrings>
    <add name="DefaultConnection" 
    connectionString="Server=localhost;
                      Port=5432;
                      Database=<%= Environment.GetEnvironmentVariable("WEALTHWISE_DB_NAME") %>;
                      User Id=<%= Environment.GetEnvironmentVariable("WEALTHWISE_DB_USERNAME") %>;
                      Password=<%= Environment.GetEnvironmentVariable("WEALTHWISE_DB_PASSWORD") %>;" 
                      providerName="Npgsql" />
  </connectionStrings>
</configuration>

