@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="animate__animated animate__fadeInDown font-black">
        WealthWise is a better way
        <br>
        to manage money
    </h1>
</div>

