@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="home-hero mt-20">
        <a class="release-tag fade-in-down h-7 pl-3 mx-auto font-medium leading-7 flex">
            <span class="align-middle">WealthWise 2023 Release - Alpha is here!</span>
            <span class="px-2">→</span>
        </a>
        <h1 class="fade-in-down font-medium text-7xl my-6 pb-4">
            WealthWise is a better way
            <br>
            to manage money</h1>
        <h2 class="fade-in-down font-light text-2xl mb-12">
            Meet the new standard for modern buisness management.
            <br>
            Streamline budgeting, invoicing, and expense tracking.
        </h2>
    </div>
    <a class="fade-in-down hero-btn btn-special block mx-auto" asp-area="" asp-page="">
        <span class="align-middle">Get Started</span>
        <span class="material-icons align-middle pl-4">arrow_forward</span>
    </a>
    <div class="hero-demo perspective-skew mt-32 relative">
        <div class="hero-gradient mx-auto relative">
            <div class="hero-glow opacity-0">
            </div>
            <div class="absolute glow-lines z-20 top-0 left-0 overflow-hidden">
                <span class="block glow-to-right absolute top-0 left-0"></span>
                <span class="block glow-to-bottom absolute top-0 right-0"></span>
                <span class="block glow-to-top absolute bottom-0 left-0"></span>
                <span class="block glow-to-left absolute bottom-0 right-0"></span>
            </div>
            <svg class="sketch-lines absolute left-0 top-0 w-full h-full" width="100%" viewbox="0 0 1499 778" fill="none">
                <path pathLength="1" d="M1500 72L220 72"></path>
                <path pathLength="1" d="M1500 128L220 128"></path>
                <path pathLength="1" d="M1500 189L220 189"></path>
                <path pathLength="1" d="M220 777L220 1"></path>
                <path pathLength="1" d="M538 777L538 128"></path>
            </svg>
            <img class="hero-image relative z-10" alt="Placeholder workspace demo image" src="https://linear.app/_next/image?url=/_next/static/media/hero@4x.15e3a396.jpg&w=3840&q=75">
        </div>
    </div>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, atque, perferendis odit sequi repudiandae vero amet est officiis corporis, laborum dolores dignissimos. Amet sequi quia officiis, quasi asperiores ab dolor?
    </p>
</div>



