@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mona-Sans';
  src: url('Mona-Stans.ttf') format('truetype');
}

html {
  font-size: 14px;
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Custom Styling */

body {
  margin: 0;
  padding: 0px 25px;
  min-height: 100%;
  width: 100%;
  font-family: "Mona-Sans", sans-serif;
  background-color: rgb(0, 2, 18);
  color: rgb(247, 248, 248);
  line-height: 1.5;
}

.btn-special {
  transition: box-shadow 0.3s ease;
  background: linear-gradient(95deg, rgb(0, 149, 122), rgb(0, 104, 67));
}

.btn-special:hover {
  box-shadow: 0 0 20px 15px rgba(14, 125, 68, 0.16);
}

/* 
------------------------------------------------------------------------------------------------------------------------------------------------
                                                                        Animations 
------------------------------------------------------------------------------------------------------------------------------------------------ 
*/

  .animate__animated .animate__fadeInDown {

  }


/* 
------------------------------------------------------------------------------------------------------------------------------------------------
                                                                        Navbar 
------------------------------------------------------------------------------------------------------------------------------------------------ 
*/
  .wealth-wise-logo {
    background: linear-gradient(45deg, rgb(0, 104, 67), rgb(0, 149, 122));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .navbar-item:first-child {
    padding-left: 30px;
  }

  .navbar-item:hover {
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
  }

  .navbar .dropdown-container .flex, 
  .dropdown-menu, 
  .dropdown-item {
    border: none;
  }

  @media (max-width: 1050px) {
    .navbar-collapse {
      visibility: hidden;
    }
  }

  /* Dropdowns */
  .dropdown-menu {
    background-color: #0c0c0c;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgb(69, 69, 69);
  }

  .dropdown-menu-bottom-center {
    position: absolute;
    left: -50%;
    top: 100%;
    transition-duration: 0.5s;
  }

  .dropdown-item {
    margin: 5px;
    padding: 5px 0;
    border-radius: 0.25rem;
  }

  .dropdown-item:hover {
    background-color:rgb(69, 69, 69);
  }

  /* Icons */
  .material-icons-container {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .material-icons {
    margin: 0px 7px;
  }

  /* Sign up button */
  .sign-up-btn {
    border-radius: 20px;
    padding: 7px 16px;
  }

/* 
------------------------------------------------------------------------------------------------------------------------------------------------
                                                                        Home Page 
------------------------------------------------------------------------------------------------------------------------------------------------
*/

  /* Glow div */
  .glow {
    position: absolute;
    top: calc(0% - 750px);
    left: 50%;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow:
      0 0 2000px 700px rgba(14, 125, 68, 0.16);
    transform: translate(-50%, -50%);
  }

  /* Hero Section */

  @keyframes animation__fade-in-down {
    from {
      transform: translateY(-50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animation__fade-in-down {
    animation-name: animation__fade-in-down;
    animation-duration: 1s;
  }

  .release-tag {
    width: 320px;
    color: rgb(247, 248, 248);
    backdrop-filter: blur(12px);
    font-size: 13px;
    background: rgba(255, 255, 255, 0.1);
    border: rgba(255, 255, 255, 0.05) 1px solid;
    border-radius: 15px;
    transition-duration: 0.5s;
  }
  .release-tag:hover {
    background: rgba(255, 255, 255, 0.2);;
  }

  .release-tag > span:last-child {
    margin: 0 8px;
    background: rgba(255, 255, 255, 0.05);
    background-position: center;
    height: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .home-hero h1 {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to top left, rgb(135, 135, 135), rgb(247, 248, 248));
  }

  .home-hero h2 {
    background-clip: text;
    background-image: linear-gradient(to top left, #a2f8a2, rgb(247, 248, 248));
  }

  .hero-btn {
    width: 13em;
    height: 4em;
    border-radius: 35px;
    padding: 18px 30px;
    white-space: nowrap;
  }

  .hero-btn:hover {
    box-shadow: 0 0 70px 50px rgba(14, 125, 68, 0.16);
  }

  /* Hero Workspace Demo */

  .hero-demo * {
    width: auto;
    height: auto;
    border-radius: 10px;
  }

  .perspective-skew {
    perspective: 2000px;
  }


  @keyframes animation__rotate-image {
    0% {
      transform: rotateX(25deg);
    }
    25% {
      transform: rotateX(25deg) scale(0.9);
    }
    60% {
      transform: scale(1.1);
    }
    100% {
      transform: none;
    }
  }

  .hero-gradient {
    width: auto;
    height: auto;
    background: 
      radial-gradient(ellipse 50% 80% at 20% 40%, rgba(93, 52, 221, 0.1), transparent),
      radial-gradient(ellipse 50% 80% at 80% 50%, rgba(120, 119, 198, 0.15), transparent);
    border-radius: 10px;
    margin-bottom: 420px;
    transform: rotateX(25deg);
    border: 2px solid rgba(2, 23, 2, 0.309);
  }

  @keyframes animation__image-glow {
    0% {
      filter: 0;
      animation-timing-function:cubic-bezier(0.74, 0.25, 0.76, 1);
    }
    10% {
      opacity: 1;
      animation-timing-function:cubic-bezier(0.12, 0.01, 0.08, 0.99);
    }
    100% {
      opacity: 0.2;
    }
  }

  @keyframes animation__image-fade {
    0% {
      opacity: 0;
    }
    15%, to {
      opacity: 1;
    }
  }

  .hero-image {
    opacity: 0;
  }

  .hero-glow::before {
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: conic-gradient(from 230.29deg at 51.63% 52.16%, rgb(36, 255, 0) 0deg, rgb(0, 255, 135) 67.5deg, rgb(108, 157, 39) 198.75deg, rgb(24, 163, 38) 251.25deg, rgb(54, 196, 103) 301.88deg, rgb(105, 255, 30) 360deg);
    position: absolute;
    filter: blur(120px);
  }

  @keyframes animation__sketch-lines {
    0% {
      stroke-dashoffset: 1;
    }
    50% {
      stroke-dashoffset: 0;
    }
    99% {
      stroke-dashoffset: 0;
    }
    100% {
      visibility: hidden;
    }
  }

  .animation__sketch-lines {
    stroke: rgba(255, 255, 255, 0.839);
    stroke-opacity: 0.7;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    stroke-width: 0.5
  }

  .glow-lines {
    width: 100%;
    height: 100%;
  }

  .glow-to-right {
    width: 10rem;
    height: 3px;
    background: linear-gradient(to left, rgb(157, 242, 155) 0.43%, rgb(120, 198, 119) 14.11%, rgba(120, 198, 119, 0) 62.95%);
    animation: animation__glow-line-right 2.5s ease-in-out infinite;
  }
  
  .glow-to-bottom {
    width: 3px;
    height: 10rem;
    background: linear-gradient(to top, rgb(157, 242, 155) 0.43%, rgb(120, 198, 119) 14.11%, rgba(120, 198, 119, 0) 62.95%);
    animation: animation__glow-line-bottom 2.5s ease-in-out infinite;
  }

  .glow-to-top {
    width: 3px;
    height: 10rem;
    background: linear-gradient(to bottom, rgb(157, 242, 155) 0.43%, rgb(120, 198, 119) 14.11%, rgba(120, 198, 119, 0) 62.95%);
    animation: animation__glow-line-top 2.5s ease-in-out infinite;
  }

  .glow-to-left {
    width: 10rem;
    height: 3px;
    background: linear-gradient(to right, rgb(157, 242, 155) 0.43%, rgb(120, 198, 119) 14.11%, rgba(120, 198, 119, 0) 62.95%);
    animation: animation__glow-line-left 2.5s ease-in-out infinite;
  }

  @keyframes animation__glow-line-right {
    0% {
      opacity: 0;
      transform: translateX(0) scale(1);
    }
    50% {
      opacity: 0.6;
      transform: translateX(35rem) scale(1.5);
    }
    100% {
      opacity: 0;
      transform : translateX(70rem) scale(1);
    }
  }

  @keyframes animation__glow-line-bottom {
    0% {
      opacity: 0;
      transform: translateY(0) scale(1);
    }
    50% {
      opacity: 0.6;
      transform: translateY(20rem) scale(1.5);
    }
    100% {
      opacity: 0;
      transform : translateY(40rem) scale(1);
    }
  }

  @keyframes animation__glow-line-top {
    0% {
      opacity: 0;
      transform: translateY(0) scale(1);
    }
    50% {
      opacity: 0.6;
      transform: translateY(-20rem) scale(1.5);
    }
    100% {
      opacity: 0;
      transform : translateY(-40rem) scale(1);
    }
  }

  @keyframes animation__glow-line-left {
    0% {
      opacity: 0;
      transform: translateX(0) scale(1);
    }
    50% {
      opacity: 0.6;
      transform: translateX(-35rem) scale(1.5);
    }
    100% {
      opacity: 0;
      transform : translateX(-70rem) scale(1);
    }
  }

/* 
------------------------------------------------------------------------------------------------------------------------------------------------
Login Page 
------------------------------------------------------------------------------------------------------------------------------------------------
*/

@keyframes animation__loading {
  0% {
    opacity: 0.425;
    transform: scale(0.9);
  }
  50%{
    opacity: 0.8;
    transform: scale(1.3);
  }
  100% {
    opacity: 0.425;
    transform: scale(0.9);
  }
}

.loading {
  background: #191923;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.loading span {
  font-size: 60px;
  opacity: 0.8;
  animation: animation__loading 3s ease-in-out infinite;
  transform: scale(0.9);
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease 0s;
}

.fade-in.show {
  opacity: 1;
}

.bg-login {
  background: #191923
}

.bg-login #root {
  background: linear-gradient(rgb(44, 45, 60) 0%, rgb(25, 26, 35) 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.login-content {
  margin: 230px auto auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-icon {
  font-size: 50px;
  background: linear-gradient(45deg, #aeaeae, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-logo {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(45deg, rgb(0, 104, 67), rgb(0, 149, 122));
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.google-login {
  background: rgb(0, 149, 122);
  border-radius: 5px;
  transition-duration: 0.5s;
}

.google-login:hover {
  background: rgb(13, 180, 149);
}

.login-btn {
  background: rgb(41, 42, 53);;
  border-radius: 5px;
  border: 1px solid rgb(60, 61, 83);
  transition-duration: 0.5s;
}

.login-btn:hover {
  border: 1px solid #333548;
  background: rgb(44, 45, 66);
}

.email-input {
  padding: 6px 12px;
  background: rgb(21, 22, 33);
  border: 1px solid rgb(49, 50, 72);
  border-radius: 4px;
  color: rgb(238, 239, 252);
  margin: 0px;
  transition: box-shadow 0.2s ease-in-out;
}

.email-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgb(0, 149, 122, 1);
}

.SAML-login {
  display: none;
}
